@model List<string>

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <h2>Items</h2>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item</li>
        }
    </ul>

    @*Partial view example*@
    @Html.Partial("_ItemList", Model)
</body>
</html>